.App {
  min-height: 100vh;
  display: flex;
  background-color: #00a884;
}
* {
  font-family: "Urbanist", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
